html, body, #app {
  width: 100vw;
  height: 100vh;
}

body {
  background: #444;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

#field {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color:  #666;
}

#field > div {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 10px;
  color: #222;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  background-color: blue;
  transition-duration: 0.3s;
}

#field > div[data-open] {
  background-color: #fff;
  border-radius: 10px;
}